  .social-media {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .social-media a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .social-media a:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
  