table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #2b2b2b;
    color: #fff;
  }
  
  th {
    background-color: #1a1a1a;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
  
  td {
    border: 1px solid #555;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #1a1a1a;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
}
header {
    background-color: #121212;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
}
nav {
    background-color: #1b1b1b;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px #ffff;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #fff;
}
nav a:hover {
    background-color: #fff;
    color: #121212;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #121212;
    box-shadow: 0 0 10px #ffff;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.post {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.post h2 {
    margin-top: 0;
    font-size: 36px;
    color: #fff;
}
.post p {
    margin-top: 0;
    font-size: 24px;
    line-height: 1.5;
    color: #ccc;
}
.post a {
    display: inline-block;
    color: #ffffff;    
    text-decoration: none;
}
.post a:hover {
    background-color: #6c5ce7;
    color: #fff;
}

.btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
  