body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
    text-transform: uppercase;
}
nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
nav a:hover {
    color: #ccc;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
}
.post {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.post h2 {
    margin-top: 0;
    font-size: 24px;
}
.post p {
    margin-top: 0;
    font-size: 18px;
    line-height: 1.5;
}
.post a {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease;
}
.post a:hover {
    background-color: #666;
}

.voltar {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
  }
  